header .myNav{
    background-color: black;
    height: 80px;
}

main {
    background-color: rgb(116, 116, 116);
    height: calc(100vh - 80px);
}

main .card {
    height: 650px;
    padding: 10px;
    overflow: hidden;
}

main .card img{
    height: 400px;
    object-fit: cover;
}